<!-- <div class="toggle-setting-sidebar-icon-wpr" [ngClass]="{'is_opened': IS_OPEN, 'is_closed':!IS_OPEN }"
  (click)="toggletBotsSidebar(IS_OPEN = !IS_OPEN)">
  <span *ngIf="IS_OPEN" class="material-icons toggle-setting-sidebar-icon">
    chevron_left
  </span>
  <span *ngIf="!IS_OPEN" class="material-icons toggle-setting-sidebar-icon">
    chevron_right
  </span>
</div> -->
<!-- padding-left: 0px;list-style: none;width: 215px; padding-right: 8px; padding-left: 3px; -->
<div class="settings-sidebar-wpr settings-sidebar-wpr-opened">
  <ul class="settings-sidebar">

    <!-- -------------------------------------------------------- -->
    <!--  @ My Chatbots  -->
    <!-- -------------------------------------------------------- -->
    <ng-container *ngIf="USER_ROLE !== 'agent'">
      <li class="sidebar-item-wpr-no-link">
        <a class="sidebar-item-no-link">
          {{'Flows' | translate}}
        </a>
      </li>

      <li class="sidebar-item-wpr" [ngClass]="{'active-item': BOTS_MYCHATBOT_ALL_ROUTE_IS_ACTIVE}"
        (click)="goToAllFlows()">
        <a class="sidebar-item">
          <mat-icon svgIcon="td-layout-grid" class="settings-sidebar-icons"></mat-icon>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
  
            {{'All' | translate}}
          </p>

          <span class="sidebar-item-s">{{ chatBotCount }}</span>
        </a>
      </li>


      <li class="sidebar-item-wpr" [ngClass]="{'active-item': AIAGENT_ROUTE_IS_ACTIVE}"
        (click)="goToAiAgents()">
        <a class="sidebar-item">
          <mat-icon svgIcon="td-robot" class="settings-sidebar-icons"></mat-icon>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
       
            {{'AIAgents' | translate}}
          </p>

          <span class="sidebar-item-s">{{ myChatbotOtherCount }}</span>
        </a>
      </li>


      <li class="sidebar-item-wpr" [ngClass]="{'active-item': AUTOMATION_ROUTE_IS_ACTIVE}" (click)="goToAutomations()">
        <a class="sidebar-item">
          <mat-icon svgIcon="td-settings-automation" class="settings-sidebar-icons"></mat-icon>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
            {{'Automations' | translate}}
          </p>
          <span class="sidebar-item-s">{{ automationsCount }}</span>
        </a>
      </li>

      <!-- -------------------------- -->
      <!-- WEBOOK SECTION -->
      <!-- -------------------------- -->
      <li class="sidebar-item-wpr-no-link" style="margin-top: 16px;">
        <a class="sidebar-item-no-link">
          Webhooks
        </a>
      </li>

      <li class="sidebar-item-wpr" [ngClass]="{'active-item': FLOWS_WEBHOOK_ROUTE_IS_ACTIVE }"
        (click)="goToFlowWebhooks()">
        <a class="sidebar-item">
          <mat-icon svgIcon="td-webhook" class="settings-sidebar-icons"></mat-icon>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
            Webhooks
          </p>
          <span class="sidebar-item-s">{{ flowWebhooksCount }}</span>
        </a>
      </li>


      <!-- <li class="sidebar-item-wpr" [ngClass]="{'active-item': BOTS_MYCHATBOT_CUSTOMER_SATISFACTION_ROUTE_IS_ACTIVE}"
        (click)="goToBotCustomerSatisfactionBots()">
        <a class="sidebar-item">
         
         <i class="material-icons settings-sidebar-icons" style="margin-left: 0px !important;">
            emoji_emotions
          </i>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
            Customer Satisfaction
          </p>
          <span class="sidebar-item-s">{{ customerSatisfactionBotsCount }}</span>
        </a>
      </li> -->
    </ng-container>

    <!-- -------------------------------------------------------- -->
    <!--  @ Knowledge Bases !!! Moved on the sidebar -->
    <!-- -------------------------------------------------------- -->
    <!-- <ng-container *ngIf="ARE_NEW_KB == true && isVisibleKNB">
      <li class="sidebar-item-wpr" [ngClass]="{'active-item': KNOWLEDGE_BASE_ROUTE_IS_ACTIVE}"
        (click)="goToNewKnowledgeBases()">
        <a class="sidebar-item">
          <i class="material-icons settings-sidebar-icons" style="margin-left: 0px !important;">
            school
          </i>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
              <!- - {{'ManageYourContents' | translate}} - ->
            Knowledge Bases
           
          </p>
          <span class="sidebar-item-s">{{ kbCount }}</span>
        </a>
      </li>
    </ng-container> -->

    <!-- ------------------------------------------------------- -->
    <!-- @ Template -> moved in the templates component -->
    <!-- ------------------------------------------------------- -->
     <ng-container *ngIf="USER_ROLE !== 'agent'">
      <li class="sidebar-item-wpr-no-link" style="margin-top: 16px;">
        <a class="sidebar-item-no-link" style="text-transform: uppercase;">
        
          {{'Templates' | translate}}
        </a>
      </li>


      <li class="sidebar-item-wpr" [ngClass]="{'active-item': BOTS_ALL_TEMPALTES_ROUTE_IS_ACTIVE}"
        (click)="goToBotAllTemplates()">
        <a class="sidebar-item">
          <mat-icon svgIcon="td-template" class="settings-sidebar-icons"></mat-icon>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
            {{'AllTemplates' | translate}}
          </p>
          <span class="sidebar-item-s">{{ allTemplatesCount }}</span>
        </a>
      </li> 

     <!-- <li *ngIf="displayChatbotsCommunity" class="sidebar-item-wpr"
        [ngClass]="{'active-item': BOTS_COMMUNITY_TEMPLATES_ROUTE_IS_ACTIVE}" (click)="goToBotCommunityTemplates()">
        <a class="sidebar-item">
          <i class="material-icons settings-sidebar-icons" style="margin-left: 0px !important;">
            diversity_3
          </i>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
            {{'CommunityTemplates' | translate}}
          </p>
          <span class="sidebar-item-s">{{ allCommunityTemplatesCount }}</span>
        </a>
      </li>

      <li *ngIf="displayTemplatesCategory" class="sidebar-item-wpr"
        [ngClass]="{'active-item': BOTS_INCREASE_SALES_TEMPALTES_ROUTE_IS_ACTIVE}"
        (click)="goToBotIncreaseSalesTemplates()">
        <a class="sidebar-item">

          <i class="material-icons settings-sidebar-icons" style="margin-left: 0px !important;">
            trending_up
          </i>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
           
            {{'IncreaseSales' | translate}}
          </p>
          <span class="sidebar-item-s">{{ increaseSalesTemplatesCount }}</span>
        </a>
      </li>

      <li *ngIf="displayTemplatesCategory" class="sidebar-item-wpr"
        [ngClass]="{'active-item': BOTS_CUSTOMER_SATISFACTION_TEMPALTES_ROUTE_IS_ACTIVE}"
        (click)="goToBotCustomerSatisfactionTemplates()">
        <a class="sidebar-item">

          <i class="material-icons settings-sidebar-icons" style="margin-left: 0px !important;">
            emoji_emotions
          </i>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
          
            {{'CustomerSatisfaction' | translate}}
          </p>
          <span class="sidebar-item-s">{{ customerSatisfactionTemplatesCount }}</span>
        </a>
      </li> -->
    </ng-container> 




    <!-- ------------------------------------------------------- -->
    <!-- @ Bot Fulfillment-->
    <!-- ------------------------------------------------------- -->
    <!-- <ng-container>
      <li [ngClass]="{'active-item': FULFILLMENT_ROUTE_IS_ACTIVE }" (click)="goToTilebotfulfillment()"
        matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="Fulfillment" #tooltip="matTooltip"
        matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
        <a>
          <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">
            offline_bolt
          </i>
          <p *ngIf="IS_OPEN === true" class="custom_paragraph">
            Fulfillment
          </p>
        </a>
      </li>
    </ng-container> -->

    <!-- ------------------------------------------------------- -->
    <!-- Bot Training -->
    <!-- ------------------------------------------------------- -->
    <!-- <ng-container>
      <li [ngClass]="{'active-item': TRAINING_ROUTE_IS_ACTIVE}" (click)="goToBotTraining()"
        matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="{{'Training' | translate}}"
        #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
        <a>
          <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">
            school
          </i>
          <p *ngIf="IS_OPEN === true" class="custom_paragraph">
            {{'Training' | translate}}
          </p>
        </a>
      </li>
    </ng-container> -->

  </ul>
</div>
