<header class="m-header">
  <h1 mat-dialog-title>{{ 'KbPage.AddMoreContents' | translate }}</h1>
  <button type="button" class="m-close-button" [attr.aria-label]="'Close' | translate" (click)="onNoClick()">
    <mat-icon aria-hidden="true">close</mat-icon>
  </button>
</header>

<div mat-dialog-content class="add-content-dialog-content">
  <div class="add-content-cards-wpr">
    <button type="button" class="add-content-card-wpr" (click)="onOkPresssed('urls')">
      <mat-icon aria-hidden="true">link</mat-icon>
      <span class="add-content-card-content-title">{{ 'KbPage.Websites' | translate }}</span>
      <span class="add-content-card-content-subtitle">{{ 'KbPage.AddsURLSAndSitemapDescription' | translate }}</span>
    </button>

    <button type="button" class="add-content-card-wpr" (click)="onOkPresssed('site-map')">
      <mat-icon aria-hidden="true">language</mat-icon>
      <span class="add-content-card-content-title">{{ 'KbPage.SynchronizedSitemap' | translate }}</span>
      <span class="add-content-card-content-subtitle">{{ 'KbPage.AddsSitemapDescription' | translate }}</span>
    </button>

    <button type="button" class="add-content-card-wpr" (click)="onOkPresssed('faq')">
      <mat-icon aria-hidden="true">quiz</mat-icon>
      <span class="add-content-card-content-title">FAQs</span>
      <span class="add-content-card-content-subtitle">{{ 'KbPage.AddsFAQsDescription' | translate }}</span>
    </button>

    <button type="button" class="add-content-card-wpr" (click)="onOkPresssed('text-file')">
      <mat-icon aria-hidden="true">notes</mat-icon>
      <span class="add-content-card-content-title">{{ 'KbPage.AddKbText' | translate }}</span>
      <span class="add-content-card-content-subtitle">{{ 'KbPage.AddsPlainTextDescription' | translate }}</span>
    </button>

    <button type="button" class="add-content-card-wpr" (click)="onOkPresssed('file-upload')">
      <mat-icon aria-hidden="true">upload_file</mat-icon>
      <span class="add-content-card-content-title">{{ 'KbPage.UploadFile' | translate }}</span>
      <span class="add-content-card-content-subtitle">{{ 'KbPage.UploadFileDescription' | translate }}</span>
    </button>
  </div>

  <button *ngIf="hideHelpLink" type="button" class="kb-link-to-docs" (click)="goToKbDoc()">
    <mat-icon aria-hidden="true">menu_book</mat-icon>
    {{ 'KbPage.LearnMoreAboutKB' | translate }}
  </button>
</div>
