<div class="add-content-container unanswered-questions-modal">
 
  <div *ngIf="!hasError" class="preview-count-left">
    <div>
        <button mat-icon-button aria-label="Refresh" style="color: grey;" (click)="refreshList()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
    <div class="contents-count" style="font-size: 14px;"> {{'KbPage.TotalQuestions' | translate }}: <span class="contents-count-num" style="font-weight: 500;" >{{ unansweredQuestionsCount }}</span>
    </div>
  </div>

  <!-- *ngIf="!showUQTableSpinner" -->
  <section *ngIf="hasError" class="uq-state" role="alert">
    <mat-icon aria-hidden="true">error_outline</mat-icon>
    <h2>{{ 'AnErrorHasOccurred' | translate }}</h2>
    <p>{{ 'PleaseTryAgain' | translate }}</p>
    <button type="button" class="uq-primary-action" (click)="refreshList()">
      <mat-icon aria-hidden="true">refresh</mat-icon>
      {{ 'PleaseTryAgain' | translate }}
    </button>
  </section>

  <div class="uq-list-header" *ngIf="!hasError && !showUQTableSpinner && (unansweredQuestions.length > 0 || unansweredQuestionsCount > 0)">
    <span class="uq-list-header-question">{{'FaqPage.Question' | translate}}</span>
    <span class="uq-list-header-date">
      <button type="button"
        class="uq-list-header-date-sort"
        (click)="onToggleDateSort($event)"
        [attr.aria-label]="'KbPage.CreationDate' | translate">
        {{'KbPage.CreationDate' | translate}}
       <!-- <span
          class="sorting"
          [ngClass]="{ 'sorting_desc': questionsSortDirection === 1, 'sorting_asc': questionsSortDirection === -1 }"></span> -->
        <span *ngIf="questionsSortDirection === 1"
          class="th-label material-icons-outlined icon-direction">expand_more</span>
        <span *ngIf="questionsSortDirection === -1"
          class="th-label material-icons-outlined icon-direction">expand_less</span>
      </button>
    </span>
    <span class="uq-list-header-actions" *ngIf="listMode === 'unanswered' || listMode === 'answered'">{{'Actions' | translate}}</span>
  </div>

  <loading-spinner *ngIf="!hasError && showUQTableSpinner"></loading-spinner>

  <ng-container *ngIf="!hasError && !showUQTableSpinner">
    <ng-container *ngIf="unansweredQuestions.length > 0; else noQuestions">
      <div class="uq-list">
        <div *ngFor="let q of unansweredQuestions" class="uq-list-item"
          [class.uq-list-item--answered-with-answer]="listMode === 'answered' && getAnswerText(q)">
          <div class="uq-list-item-main">
            <span class="uq-question-text">{{ q.question }}</span>
            <div
              class="uq-answer-block"
              *ngIf="listMode === 'answered' && getAnswerText(q)"
              [class.uq-answer-block--expanded]="isAnswerExpanded(q)">
              <div
                class="uq-answer-text"
                [class.uq-answer-text--clamped]="shouldTruncateAnswer(q) && !isAnswerExpanded(q)"
              >{{ getAnswerDisplayText(q) }}</div>
              <span class="uq-answer-more-wrap" *ngIf="shouldOfferAnswerToggle(q) && !isAnswerExpanded(q)">
                <button
                  type="button"
                  class="uq-answer-toggle"
                  (click)="toggleAnswerExpand($event, q)"
                  [attr.aria-expanded]="false">
                  {{ 'KbPage.AnswerShowMore' | translate }}
                </button>
              </span>
              <button
                type="button"
                class="uq-answer-toggle"
                *ngIf="shouldOfferAnswerToggle(q) && isAnswerExpanded(q)"
                (click)="toggleAnswerExpand($event, q)"
                [attr.aria-expanded]="true">
                {{ 'KbPage.AnswerShowLess' | translate }}
              </button>
            </div>
          </div>
          <span class="uq-date-text" *ngIf="q.createdAt">
            <div>{{ q.createdAt | amTimeAgo }}</div>
            <div style="font-size: 0.85em; color: #666;margin-top: 3px;">{{ q.createdAt | date: 'd/M/y HH:mm:ss' }}</div>
          </span>
          <span class="uq-date-text" *ngIf="!q.createdAt">-</span>
          <button *ngIf="q.request_id || q.requestId" type="button" class="uq-open-conversation" mat-icon-button
            matTooltipClass="kb-custom-mat-tooltip"
            [matTooltip]="listMode === 'answered' ? ('KbPage.ClickToViewConversation' | translate) : ('KbPage.GoToConversation' | translate)"
            [attr.aria-label]="listMode === 'answered' ? ('KbPage.ClickToViewConversation' | translate) : ('KbPage.GoToConversation' | translate)"
            matTooltipPosition="before" matTooltipHideDelay="100"
            (click)="openQuestionConversation(q)">
            <mat-icon aria-hidden="true">open_in_new</mat-icon>
          </button>
          <span class="uq-actions" *ngIf="listMode === 'unanswered'">
            <button class="uq-btn uq-btn-icon" mat-icon-button 
              [attr.aria-label]="'AddQuestionToKB' | translate"
              matTooltipClass="kb-custom-mat-tooltip" 
              [matTooltip]="'AddQuestionToKB' | translate" 
              #tooltip="matTooltip" 
              matTooltipPosition='before' 
              matTooltipHideDelay="100"
              (click)="onOpenAddKnowledgeBaseModal(q)">
              <mat-icon class="add-icon">add_circle_outline</mat-icon>
            </button>
            <button class="uq-btn uq-btn-icon" mat-icon-button 
              [attr.aria-label]="'DiscardQuestion' | translate"
              matTooltipClass="kb-custom-mat-tooltip" 
              [matTooltip]="'DiscardQuestion' | translate" 
               #tooltip="matTooltip" 
              matTooltipPosition='before' 
              matTooltipHideDelay="100"
              (click)="onDiscardQuestion(q)">
              <mat-icon class="delete-icon">delete_outline</mat-icon>
            </button>
          </span>
          <span class="uq-actions uq-actions--answered" *ngIf="listMode === 'answered'">
            <button class="uq-btn uq-btn-icon" mat-icon-button
              [attr.aria-label]="'KbPage.DeleteAnsweredQuestion' | translate"
              matTooltipClass="kb-custom-mat-tooltip"
              [matTooltip]="'KbPage.DeleteAnsweredQuestion' | translate"
               #tooltip="matTooltip" 
              matTooltipPosition='before' 
              matTooltipHideDelay="100"
              (click)="onDeleteAnsweredQuestion(q)">
              <mat-icon class="delete-icon">delete_outline</mat-icon>
            </button>
          </span>
        </div>
      </div>
    
      <!-- Loading indicator and Load More button -->
      <div *ngIf="isLoadingMore" style="margin-top: 20px; text-align: center;" class="loading-indicator">
        {{'KbPage.Loading' | translate}}&nbsp;
      </div>
      <button *ngIf="!isLoadingMore && hasMore" type="button" class="btn-more btn--default" (click)="loadMoreData()">
        {{'KbPage.LoadMore' | translate}}
      </button>
    </ng-container>
    <ng-template #noQuestions>
      <div class="add-header-container" *ngIf="listMode === 'answered'">
        <ng-container *ngIf="hasActiveQuestionsSearch; else answeredInitialEmpty">
          <div class="uq-no-kb-match-params">{{ 'KbPage.NoKbMatchParams' | translate }}</div>
        </ng-container>
        <ng-template #answeredInitialEmpty>
          <div class="upgrade-title">{{'KbPage.AnsweredQuestionsEmptyTitle' | translate }}</div>
          <span class="span-6"></span>
          <div class="upgrade-subtitle">{{'KbPage.AnsweredQuestionsEmptyDesc' | translate }}</div>
          <span class="span-32"></span>
        </ng-template>
      </div>
      <div class="add-header-container" *ngIf="listMode === 'unanswered'">
        <ng-container *ngIf="hasActiveQuestionsSearch; else unansweredInitialEmpty">
          <div class="uq-no-kb-match-params">{{ 'KbPage.NoKbMatchParams' | translate }}</div>
        </ng-container>
        <ng-template #unansweredInitialEmpty>
          <div class="upgrade-title">{{'KbPage.UnansweredQuestions' | translate }}</div>
          <span class="span-6"></span>
          <div class="upgrade-subtitle">{{'KbPage.UnansweredQuestionsDesc' | translate }}</div>
          <span class="span-32"></span>
        </ng-template>
      </div>
    </ng-template>
  </ng-container>

</div> 
