<div class="dialog-shell" role="dialog" aria-modal="true" aria-labelledby="clone-bot-title">
    <div class="dialog-header">
        <h1 id="clone-bot-title" mat-dialog-title>
            {{ 'Duplicate' | translate }} {{ bot_name }}
        </h1>

        <button type="button" class="dialog-close" mat-icon-button mat-dialog-close aria-label="Close">
            <span class="material-icons-outlined" aria-hidden="true">close</span>
        </button>
    </div>

    <mat-dialog-content class="mat-typography dialog-content">
        <div class="clone-bot-content-wpr">
            <div class="clone-bot-content">
                <p id="clone-bot-project-label" class="clone-bot-description">
                    Choose a project for this chatbot.
                </p>
                <ng-select class="select-language-in-wizard" id="language_option"
                    appendTo="body"
                    style="margin-top: 0px; max-width: 500px;"
                    [clearable]="false"
                    [(ngModel)]="selectedProject"
                    [items]="activeProjects"
                    bindLabel="id_project.name"
                    bindValue="id_project._id"
                    aria-labelledby="clone-bot-project-label"
                    placeholder="Choose a project"
                    (change)="onSelectProject(selectedProject)">
                </ng-select>
            </div>
        </div>
    </mat-dialog-content>

    <div mat-dialog-actions class="dialog-actions">
        <button type="button" class="mat-dialog-close-btn" mat-button (click)="onNoClick()">
            {{ "Cancel" | translate }}
        </button>

        <button type="button" class="mat-dialog-ok-btn" mat-button (click)="onOkPresssed()"
            [disabled]="!selectedProjectId" cdkFocusInitial>
            {{ "Duplicate" | translate }}
        </button>
    </div>
</div>
