<!-- [ngStyle]="{'height': sidebar_settings_height}" -->

<div class="toggle-setting-sidebar-icon-wpr" [ngClass]="{'is_opened': IS_OPEN, 'is_closed':!IS_OPEN  }"
  (click)="toggleSettingsSidebar(IS_OPEN = !IS_OPEN)">
  <mat-icon *ngIf="IS_OPEN" svgIcon="td-chevron-left" class="toggle-setting-sidebar-icon"></mat-icon>
  <mat-icon *ngIf="!IS_OPEN" svgIcon="td-chevron-right" class="toggle-setting-sidebar-icon"></mat-icon>
</div>

<div *ngIf="project" class="settings-sidebar-wpr"
  [ngClass]="{'settings-sidebar-wpr-opened': IS_OPEN, 'settings-sidebar-wpr-closed': !IS_OPEN }">

  <ul class="settings-sidebar">

    <!-- -------------------------------------------------------- -->
    <!--  Widget  -->
    <!-- -------------------------------------------------------- -->
    <ng-container *ngIf="PERMISSION_TO_VIEW_WIDGET_SETUP">
      <ng-container *ngIf="USER_ROLE !== 'agent'">
        <li [ngClass]="{'active-item': WIDGET_SETUP_ROUTE_IS_ACTIVE}" (click)="goToWidgetSetUp()"
          matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="Widget" #tooltip="matTooltip"
          matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
          <a class="settings-sidebar-anchor">
            <!-- <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">chat_bubble</i> -->
            <mat-icon *ngIf="IS_OPEN === true || IS_OPEN === false" svgIcon="td-message" class="settings-sidebar-icons"></mat-icon>
            <p *ngIf="IS_OPEN === true" class="custom_paragraph">
              Widget
            </p>
          </a>
        </li>
      </ng-container>
    </ng-container>

    <!-- -------------------------------------------------------- -->
    <!-- Widget installation -->
    <!-- -------------------------------------------------------- -->
    <ng-container *ngIf="PERMISSION_TO_VIEW_WIDGET_SETUP">
      <ng-container *ngIf="USER_ROLE !== 'agent'">
        <li [ngClass]="{'active-item': WIDGET_INSTALLATION_ROUTE_IS_ACTIVE}" (click)="goToWidgetInstallation()"
          matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="{{'Installation' | translate}}"
          #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
          <a class="settings-sidebar-anchor" [ngStyle]="{'padding-left':IS_OPEN === true  ? '20px' : '0px' }">
            <!-- <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">code</i> -->

            <mat-icon *ngIf="IS_OPEN === true || IS_OPEN === false" svgIcon="td-code" class="settings-sidebar-icons"></mat-icon>

            <p *ngIf="IS_OPEN === true" class="custom_paragraph">
              {{'Installation' | translate}}
            </p>
          </a>
        </li>
      </ng-container>
    </ng-container>

    <!-- -------------------------------------------------------- -->
    <!-- Widget Transtations  -->
    <!-- -------------------------------------------------------- -->
    <ng-container *ngIf="PERMISSION_TO_VIEW_WIDGET_SETUP">
      <ng-container *ngIf="USER_ROLE !== 'agent'">
        <li [ngClass]="{'active-item': TRANSLATIONS_ROUTE_IS_ACTIVE}" (click)="goToMultilanguage()"
          matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="{{translations}}" #tooltip="matTooltip"
          matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
          <a class="settings-sidebar-anchor" [ngStyle]="{'padding-left':IS_OPEN === true  ? '20px' : '0px' }">
            <!-- <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">language</i> -->
            <mat-icon *ngIf="IS_OPEN === true || IS_OPEN === false" svgIcon="td-language" class="settings-sidebar-icons"></mat-icon>

            <p *ngIf="IS_OPEN === true" class="custom_paragraph">
              {{'Translations' | translate}}
            </p>
          </a>
        </li>
      </ng-container>
    </ng-container>

    <!-- ------------------------------------------------------- -->
    <!-- Routing & depts --> 
    <!-- ------------------------------------------------------- -->
    <ng-container *ngIf="PERMISSION_TO_VIEW_DEPTS">
      <ng-container *ngIf="USER_ROLE !== 'agent'">
        <li [ngClass]="{'active-item': DEPTS_ROUTE_IS_ACTIVE  || EDIT_DEPT_ROUTE_IS_ACTIVE || ADD_DEPT_ROUTE_IS_ACTIVE}"
          (click)="goToDepartments()" matTooltipClass="custom-mat-tooltip-in-settings-sidebar"
          matTooltip="{{routing_and_depts_lbl}}" #tooltip="matTooltip" matTooltipPosition='right'
          matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
          <a class="settings-sidebar-anchor">
            <!-- <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">
              account_balance
            </i> -->
            <mat-icon *ngIf="IS_OPEN === true || IS_OPEN === false" svgIcon="td-building-bank" class="settings-sidebar-icons"></mat-icon>
            <p *ngIf="IS_OPEN === true" class="custom_paragraph">
              <span *ngIf="isVisibleDEP"> {{'RoutingAndDepts' | translate}} </span>
              <span *ngIf="!isVisibleDEP"> {{'Routing' | translate}} </span>

            </p>
          </a>
        </li>
      </ng-container>
    </ng-container> 

    <!-- ------------------------------------------------------- -->
    <!-- Teammates & Groups || EDIT_GROUP_ROUTE_IS_ACTIVE  -->
    <!-- ------------------------------------------------------- -->
    <ng-container *ngIf="PERMISSION_TO_VIEW_TEAMMATES_ROLES_GROUPS">
      <ng-container *ngIf="USER_ROLE !== 'agent'">
        <li [ngClass]="{'active-item': 
          TEAMMATES_ROUTE_IS_ACTIVE || 
          TEAMMATES_ADD_ROUTE_IS_ACTIVE || 
          GROUPS_ROUTE_IS_ACTIVE || 
          EDIT_GROUP_ROUTE_IS_ACTIVE || 
          EDIT_TEAMMATE_ROUTE_IS_ACTIVE ||
          ADD_GROUP_ROUTE_IS_ACTIVE ||
          ROLE_ROUTE_IS_ACTIVE ||
          CREATE_NEW_ROLE_ROUTE_IS_ACTIVE ||
          EDIT_ROLE_ROUTE_IS_ACTIVE}" (click)="goToTeammatesRolesGroups()" matTooltipClass="custom-mat-tooltip-in-settings-sidebar"
          matTooltip="{{ teammatates_and_groups_lbl }}" #tooltip="matTooltip" matTooltipPosition='right'
          matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
          <a class="settings-sidebar-anchor">
            <!-- <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">
              supervisor_account
            </i> -->
            <mat-icon *ngIf="IS_OPEN === true || IS_OPEN === false" svgIcon="td-users" class="settings-sidebar-icons"></mat-icon>
            <p *ngIf="IS_OPEN === true" class="custom_paragraph">
              <span *ngIf="isVisibleGRO">
                {{ 'UsersAndGroups' | translate }}
              </span>
              <span *ngIf="!isVisibleGRO">
                <span style="text-transform: capitalize;"> {{ 'Teammates' | translate }} </span>
              </span>
            </p>
          </a>
        </li>
      </ng-container>
    </ng-container>


    <!-- ------------------------------------------------------- -->
    <!-- EMAIL-TICKETING   -->
    <!-- ------------------------------------------------------- -->
    <ng-container *ngIf="PERMISSION_TO_VIEW_EMAIL_TICKETING">
      <ng-container *ngIf="USER_ROLE !== 'agent' && isVisibleETK">
        <li [ngClass]="{'active-item': EMAIL_TICKETING_ROUTE_IS_ACTIVE}" (click)="goToEmailTicketing()"
          matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="{{'EmailTicketing' | translate}}"
          #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
          <a class="settings-sidebar-anchor">
            <!-- <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">
              email
            </i> -->
            <mat-icon *ngIf="IS_OPEN === true || IS_OPEN === false" svgIcon="td-mail" class="settings-sidebar-icons"></mat-icon>
            <p *ngIf="IS_OPEN === true" class="custom_paragraph">
              {{'EmailTicketing' | translate}}
            </p>
          </a>
        </li>
      </ng-container>
    </ng-container>

    <!-- ------------------------------------------------------- -->
    <!-- Canned responses -->
    <!-- ------------------------------------------------------- -->
    <ng-container *ngIf="PERMISSION_TO_VIEW_CANNED_RESPONSES && PERMISSION_TO_UPDATE_CANNED">
      <ng-container *ngIf="isVisibleCAR && USER_ROLE !== 'agent'">
        <li [ngClass]="{'active-item': CANNED_RESPONSES_ROUTE_IS_ACTIVE}" (click)="goToCannedResponses()"
          matTooltipClass="custom-mat-tooltip-in-settings-sidebar"
          matTooltip="{{'CannedResponses.CannedResponses' | translate}}" #tooltip="matTooltip" matTooltipPosition='right'
          matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
          <a class="settings-sidebar-anchor">
            <!-- <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">
              quickreply
            </i> -->
            <mat-icon *ngIf="IS_OPEN === true || IS_OPEN === false" svgIcon="td-message-bolt" class="settings-sidebar-icons"></mat-icon>
            <p *ngIf="IS_OPEN === true" class="custom_paragraph">
              {{'CannedResponses.CannedResponses' | translate}}
            </p>
          </a>
        </li>
      </ng-container>
    </ng-container>

    <!-- -------------------------------------------------------------  -->
    <!-- Tags (menu item name 'Labels' then renamend tags 26gen21)  -->
    <!-- ------------------------------------------------------------- -->
    <ng-container *ngIf="PERMISSION_TO_VIEW_TAGS && PERMISSION_TO_UPDATE_TAGS">
      <ng-container *ngIf="isVisibleLBS && USER_ROLE !== 'agent'">
        <li [ngClass]="{'active-item': TAG_ROUTE_IS_ACTIVE}" (click)="goToTags()"
          matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip=" {{'Tags.ConversationsTAG' | translate}}"
          #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
          <a class="settings-sidebar-anchor">
            <!-- <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">local_offer</i> -->
            <mat-icon *ngIf="IS_OPEN === true || IS_OPEN === false" svgIcon="td-tag" class="settings-sidebar-icons"></mat-icon>

            <p *ngIf="IS_OPEN === true" class="custom_paragraph">
              {{'Tags.Tags' | translate}}
            </p>
          </a>
        </li>
      </ng-container>
    </ng-container> 

    <!-- -------------------------------------------------------- -->
    <!--  Operatin Hours  -->
    <!-- -------------------------------------------------------- -->
    <ng-container *ngIf="PERMISSION_TO_VIEW_OH">
      <ng-container *ngIf="isVisibleOPH && USER_ROLE !== 'agent'">
        <li [ngClass]="{'active-item': OPERATING_HOURS_ROUTE_IS_ACTIVE}" (click)="goToOperatingHours()"
          matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="{{ 'Hours' | translate }}"
          #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
          <a class="settings-sidebar-anchor">
            <!-- <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">watch_later</i> -->

            <mat-icon *ngIf="IS_OPEN === true || IS_OPEN === false" svgIcon="td-clock" class="settings-sidebar-icons"></mat-icon>
            <p *ngIf="IS_OPEN === true" class="custom_paragraph">
              {{ 'Hours' | translate }}
            </p>
          </a>
        </li>
      </ng-container>
    </ng-container> 


    <!-- -------------------------------------------------------- -->
    <!--  Automation log  -->
    <!-- -------------------------------------------------------- -->
    <!-- <ng-container *ngIf="isVisibleAUT && USER_ROLE !== 'agent'">
      <li [ngClass]="{'active-item': AUTOMATIONS_ROUTE_IS_ACTIVE}" (click)="goToAutomations()"
        matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="Automations" #tooltip="matTooltip"
        matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
        <a class="settings-sidebar-anchor">
         
          <span *ngIf="IS_OPEN === true || IS_OPEN === false">
            <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="none"
              class="settings-sidebar-icons">
              <path
                d="M276-280h76l40-112h176l40 112h76L520-720h-80L276-280Zm138-176 64-182h4l64 182H414Zm66 376q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z" />
            </svg>
          </span>
          <p *ngIf="IS_OPEN === true" class="custom_paragraph">
            {{ 'AutomationsLog' | translate }}
          </p>
        </a>
      </li>
    </ng-container> -->


    <!-- -------------------------------------------------------- -->
    <!--  Knowledge Bases  -->
    <!-- -------------------------------------------------------- -->
    <ng-container *ngIf="isVisibleKNB && USER_ROLE !== 'agent' && ARE_NEW_KB === false">
      <li [ngClass]="{'active-item': KNOWLEDGE_BASES_ROUTE_IS_ACTIVE}" (click)="goToKnowledgeBases()"
        matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="{{ 'KnowledgeBases' | translate }}"
        #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
        <a class="settings-sidebar-anchor">
          <!-- <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">
            school
          </i> -->
          <mat-icon *ngIf="IS_OPEN === true || IS_OPEN === false" svgIcon="td-school" class="settings-sidebar-icons"></mat-icon>
          <p *ngIf="IS_OPEN === true" class="custom_paragraph">
            {{ 'KnowledgeBases' | translate }}
            <!-- <span class="kb-beta-badge">Beta</span> -->
          </p>
        </a>
      </li>
    </ng-container>

    <!-- -------------------------------------------------------- -->
    <!--  Integrations  -->
    <!-- -------------------------------------------------------- -->
    <ng-container *ngIf="PERMISSION_TO_VIEW_INTEGRATIONS"> 
      <ng-container *ngIf="isVisibleINT && USER_ROLE !== 'agent'">
        <li [ngClass]="{'active-item': INTEGRATIONS_ROUTE_IS_ACTIVE}" (click)="goToIntegrations()"
          matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="Integrations" #tooltip="matTooltip"
          matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
          <a class="settings-sidebar-anchor">
            <!-- <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">
              apps
            </i> -->
            <mat-icon *ngIf="IS_OPEN === true || IS_OPEN === false" svgIcon="td-plug-connected" class="settings-sidebar-icons"></mat-icon>
            <p *ngIf="IS_OPEN === true" class="custom_paragraph">
              {{'Integrations' | translate}}
            </p>
          </a>
        </li>
      </ng-container>
    </ng-container>

    <!-- ----------------------------- -->
    <!-- APPS  -->
    <!-- ----------------------------- -->
    <ng-container *ngIf="PERMISSION_TO_VIEW_APPS"> 
      <ng-container *ngIf="isVisibleAPP && USER_ROLE !== 'agent'">
        <li [ngClass]="{'active-item': APPS_ROUTE_IS_ACTIVE}" (click)="goToApps()"
          matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="{{ 'Apps' | translate }}"
          #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
          <a class="settings-sidebar-anchor">
            <!-- <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">
              dashboard_customize
            </i> -->

            <mat-icon *ngIf="IS_OPEN === true || IS_OPEN === false" svgIcon="td-apps" class="settings-sidebar-icons"></mat-icon>
            <p *ngIf="IS_OPEN === true" class="custom_paragraph">
              {{ 'Apps' | translate }}
            </p>
          </a>
        </li>
      </ng-container>
    </ng-container> 


    <!-- -------------------------------------------------------- -->
    <!--  Project Settings  -->
    <!-- -------------------------------------------------------- -->
    <ng-container *ngIf="PERMISSION_TO_VIEW_PROJECT_SETTINGS">   
      <ng-container *ngIf="USER_ROLE !== 'agent'">
        <li [ngClass]="{'active-item': 
          PROJECT_SETTINGS_ROUTE_IS_ACTIVE || 
          SMTP_ROUTE_IS_ACTIVE || 
          WEBHOOK_ROUTE_IS_ACTIVE ||
          NOTIFICATION_EMAIL_ROUTE_IS_ACTIVE } " (click)="goToProjectSettings()"
          matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="{{ 'ProjectSettings' | translate }}"
          #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
          <a class="settings-sidebar-anchor">
            <!-- <i *ngIf="IS_OPEN === true || IS_OPEN === false"
              class="material-icons settings-sidebar-icons">construction</i> -->
            <mat-icon *ngIf="IS_OPEN === true || IS_OPEN === false" svgIcon="td-tools" class="settings-sidebar-icons"></mat-icon>
            <p *ngIf="IS_OPEN === true" class="custom_paragraph">
              {{ 'ProjectSettings' | translate }}
            </p>
          </a>
        </li>
      </ng-container>
    </ng-container>
  </ul>


</div>
