<!-- *ngIf="project"  -->
<div class="logo">

  <div id="sidebaravatar-img-wpr" class="avatar-container tiledesk-nav-avatar" (click)="openUserDetailSidePanel()"
    [ngClass]="{'small-sidebar-avatar' : SIDEBAR_IS_SMALL === true }">

    <!-- <img id="sidebaravatar-img" class="avatar"
      *ngIf="userProfileImageExist === true || userImageHasBeenUploaded === true" [src]="getUserProfileImage()"
      onerror="this.src='assets/img/no_image_user.png'" /> -->

    <!-- --------------------------------------------------- -->
    <!-- USECASE uploadEngine Firebase -->
    <!-- --------------------------------------------------- -->
    <img id="sidebaravatar-img"
      *ngIf="(userProfileImageExist === true || userImageHasBeenUploaded === true) && UPLOAD_ENGINE_IS_FIREBASE"
      class="avatar"
      src="https://firebasestorage.googleapis.com/v0/b/{{storageBucket}}/o/profiles%2F{{currentUserId}}%2Fphoto.jpg?alt=media&{{timeStamp}}"
      onerror="this.src='assets/img/no_image_user.png'" />

    <!-- --------------------------------------------------- -->
    <!-- USECASE uploadEngine Native -->
    <!-- --------------------------------------------------- -->
    <img id="sidebaravatar-img"
      *ngIf="(userProfileImageExist === true || userImageHasBeenUploaded === true) && !UPLOAD_ENGINE_IS_FIREBASE"
      class="avatar"
      src="{{baseUrl}}files?path=uploads%2Fusers%2F{{currentUserId}}%2Fimages%2Fthumbnails_200_200-photo.jpg&{{timeStamp}}"
      onerror="this.src='assets/img/no_image_user.png'" />

    <div id="sidebaravatar-no-img" class="avatar"
      *ngIf="userProfileImageExist !== true && userImageHasBeenUploaded !== true"
      [ngStyle]="{'background':  'linear-gradient(rgb(255,255,255) -125%,' + user?.fillColour + ')'}">
      <span id="sidebaravatar-altenative-user-avatar" class="sidebar-altenative-user-avatar">
        {{ user?.fullname_initial }}
      </span>
    </div>
    <div id="teammate-status-icon" *ngIf="project" class="status-icon" [ngClass]="{
      'is-user-online' : IS_AVAILABLE === true && IS_INACTIVE === false, 
      'is-user-offline' : IS_AVAILABLE === false && IS_INACTIVE === false, 
      'is-user-inactive': IS_AVAILABLE === false && IS_INACTIVE === true, 
      'small-sidebar-status-icon' : SIDEBAR_IS_SMALL === true  }">
    </div>
    <!--  Busy status, click to reset -->
    <!-- (click)="presentDialogResetBusy()" -->
    <div id="sidebaravatar-isbusy" *ngIf="IS_BUSY === true" class="sidebar--isBusy-icon-wpr"
      matTooltipClass="sb-busy-mat-tooltip" matTooltip="{{'Busy' | translate}}" #tooltip="matTooltip"
      matTooltipPosition='right' matTooltipHideDelay="100">
      <mat-icon svgIcon="td-clock" class="sidebar-is-busy-icon"></mat-icon>
    </div>
  </div>
</div>


<div id="sidebar_wrapper" class="sidebar-wrapper" (scroll)="onScroll($event)">

  <div class="nav-custom sidebar-up">




    <!-- ------------------------------------------- -->
    <!-- CHAT  -->
    <!-- ------------------------------------------- -->
    <!-- <div matTooltipClass="sb-mat-tooltip" matTooltip="Chat" #tooltip="matTooltip" matTooltipPosition='right'
      matTooltipHideDelay="100" routerLinkActive="item-active" 
      [class.item-active]="CONVERSATION_DETAIL_ROUTE_IS_ACTIVE">

      <a id="openchat-a" #openchatbtn class="customAncor" 
        [routerLink]="project ? ['/project', project._id, 'conversation-detail'] : ['/conversation-detail']"
        (click)="openChat()">
        <span id="openchat-span">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="none">
            <path d="M80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"/>
          </svg>
        </span>
        <span *ngIf="new_messages_count !== null && new_messages_count > 0 "
          class="new-messages-count">{{new_messages_count}} </span>
      </a>
    </div> -->

    <!-- ------------------------------------------- -->
    <!-- CHAT old no iframe   -->
    <!-- ------------------------------------------- -->
    <div matTooltipClass="sb-mat-tooltip" matTooltip="Chat" #tooltip="matTooltip" matTooltipPosition='right'
      matTooltipHideDelay="100">
      <a id="openchat-a" #openchatbtn class="customAncor" target="_self" href="{{ CHAT_BASE_URL }}"
        (click)="openChat()">
        <span id="openchat-span">
          <mat-icon svgIcon="td-message" class="nav-sidebar-icon"></mat-icon>

        </span>
        <span *ngIf="new_messages_count !== null && new_messages_count > 0 "
          class="new-messages-count">{{new_messages_count}} </span>
      </a>
    </div>

    <!-- ------------------------------------------- -->
    <!-- HOME   (click)="goToHome()"" -->
    <!-- ------------------------------------------- -->
    <div *ngIf="PERMISSION_TO_VIEW_HOME" matTooltip="Home" routerLinkActive="item-active" #tooltip="matTooltip" matTooltipPosition='right'
      matTooltipHideDelay="100" matTooltipClass="custom-mat-tooltip">
      <a target="_self" routerLink="project/{{ project?._id }}/home" class="customAncor">
        <span>
          <mat-icon svgIcon="td-home" class="nav-sidebar-icon"></mat-icon>
        </span>
      </a>
    </div>

    <!-- -------------------------------------------------------- -->
    <!--  @ Knowledge Bases  && ARE_NEW_KB == true  && isVisibleKNB-->
    <!-- -------------------------------------------------------- -->
    <ng-container *ngIf="PERMISSION_TO_VIEW_KB"> 
      <ng-container *ngIf="USER_ROLE !== 'agent'  && isVisibleKNB">
        <div id="bot-anchor-wpr" *ngIf="project" matTooltipClass="sb-mat-tooltip"
          matTooltip="{{ 'KnowledgeBases' | translate }}" #tooltip="matTooltip" matTooltipPosition='right'
          matTooltipHideDelay="100" routerLinkActive="item-active" [class.item-active]="KB_ROUTE_IS_ACTIVE || KB_ROUTE_IS_ACTIVE_NO_AUTH">
          <a id="bot-anchor" #botbtn (click)="goToNewKnowledgeBases()">
            <span>
              <mat-icon svgIcon="td-brain" class="nav-sidebar-icon"></mat-icon>
            </span>
          </a>
        </div>
      </ng-container>
    </ng-container>

    <!-- ---------------------------------- -->
    <!-- Bot  (click)="goToBots()"   KB_ROUTE_IS_ACTIVE ||-->
    <!-- ---------------------------------- -->
     
    <ng-container *ngIf="PERMISSION_TO_VIEW_FLOWS">
      <ng-container *ngIf="USER_ROLE !== 'agent' && areVisibleChatbot">
        <div id="bot-anchor-wpr" *ngIf="project" 
          matTooltipClass="sb-mat-tooltip" 
          matTooltip="{{'Flows' | translate}}" 
          #tooltip="matTooltip"
          matTooltipPosition='right' 
          matTooltipHideDelay="100" 
          [class.item-active]="isBotRouteActive">
          <a id="bot-anchor" #botbtn (click)="goToAllMyChatbot()">
            <span>
              <mat-icon svgIcon="td-git-branch" class="nav-sidebar-icon"></mat-icon>
            </span>
          </a>
        </div>
      </ng-container>
    </ng-container>


    <!-- ------------------------------------------- -->
    <!-- Conversations (MONITOR)   [class.item-active]="MONITOR_ROUTE_IS_ACTIVE || CONV_DETAIL_ROUTE_IS_ACTIVE || CONV_DEMO_ROUTE_IS_ACTIVE || NORT_CONV_ROUTE_IS_ACTIVE"-->
    <!-- ------------------------------------------- -->
    <ng-container *ngIf="PERMISSION_TO_VIEW_MONITOR"> 
      <ng-container *ngIf="isVisibleMON">
        <div id="monitor" *ngIf="project" 
          routerLinkActive="item-active" matTooltipClass="sb-mat-tooltip"
          matTooltip="Monitor" 
          #tooltip="matTooltip" 
          matTooltipPosition='right' 
          matTooltipHideDelay="100"
          [ngClass]="{'is-active': MONITOR_ROUTE_IS_ACTIVE || 
            CONV_DETAIL_ROUTE_IS_ACTIVE || 
            CONV_DEMO_ROUTE_IS_ACTIVE || 
            NORT_CONV_ROUTE_IS_ACTIVE || 
            MONITOR_NO_AUTH_ROUTE_IS_ACTIVE
          }">
          <!-- routerLink="project/{{ project._id }}/wsrequests" -->
          <a class="customAncor" 
            [routerLink]="PERMISSION_TO_VIEW_MONITOR ? ['/project', project._id, 'wsrequests'] : null"
            (click)="handleMonitorClick($event)">
            <span>
              <mat-icon svgIcon="td-activity" class="nav-sidebar-icon"></mat-icon>
            </span>
          </a>
        </div>
      </ng-container>
    </ng-container>
  </div>


  <div class="nav-custom sidebar-bottom">

    <!-- ----------------------------- -->
    <!-- Integrations  -->
    <!-- ----------------------------- -->
    <!-- <ng-container *ngIf="isVisibleINT && USER_ROLE !== 'agent' ">
        <div id="bot-anchor-wpr" *ngIf="project" routerLinkActive="item-active" 
          matTooltipClass="sb-mat-tooltip"
          matTooltip="Integrations"  #tooltip="matTooltip" 
          matTooltipPosition='right' matTooltipHideDelay="100" >
          <a id="bot-anchor" #botbtn class="customAncor" routerLink="project/{{ project._id }}/integrations">
            <span class="bot-icon-wpr">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" class="chat-bot-icon-st0">
                <path d="M0 0h24v24H0V0z" fill="none"/>
                <path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"/>
              </svg>
            </span>
          </a>
        </div>
      </ng-container> -->

      <!-- ----------------------------- -->
      <!-- WA broadcasts  -->
      <!-- ----------------------------- -->
      <ng-container *ngIf="PERMISSION_TO_VIEW_WA_BRODCAST"> 
        <ng-container *ngIf="USER_ROLE !== 'agent' && isVisibleAUT">
          <!-- routerLinkActive="item-active"  -->
          <div id="bot-anchor-wpr" *ngIf="project" 
            matTooltipClass="sb-mat-tooltip"
            matTooltip="{{ 'WhatsAppBroadcasts' | translate}}"  
            #tooltip="matTooltip" 
            matTooltipPosition='right' 
            matTooltipHideDelay="100"
            [class.item-active]="NEW_BROADCAST_ROUTE_IS_ACTIVE || AUTOMATIONS_ROUTE_IS_ACTIVE || AUTOMATIONS_DETAILS_ROUTE_IS_ACTIVE || AUTOMATIONS_DEMO_ROUTE_IS_ACTIVE || AUTOMATIONS_ROUTE_NO_AUTH_IS_ACTIVE">
            <a id="bot-anchor" class="customAncor" routerLink="project/{{ project._id }}/automations">
              <span class="bot-icon-wpr">
                <mat-icon svgIcon="td-brand-whatsapp" class="nav-sidebar-icon"></mat-icon>
              </span>
            </a>
          </div>
        </ng-container>
      </ng-container>

    <!-- CaseZap -->
    <div id="casezap-anchor-wpr" *ngIf="project"
      matTooltipClass="sb-mat-tooltip"
      matTooltip="CaseZap"
      #tooltip="matTooltip"
      matTooltipPosition='right'
      matTooltipHideDelay="100"
      routerLinkActive="item-active">
      <a id="casezap-anchor" class="customAncor" routerLink="project/{{ project._id }}/casezap">
        <span class="bot-icon-wpr">
          <mat-icon svgIcon="td-brand-whatsapp" class="nav-sidebar-icon"></mat-icon>
        </span>
      </a>
    </div>

    <!-- ----------------------------- -->
    <!-- CONTACTS (LEADS)  -->
    <!-- ----------------------------- -->
     
    <ng-container *ngIf="PERMISSION_TO_VIEW_CONTACTS">
      <ng-container *ngIf="isVisibleCNT">
        <div id="contacts" *ngIf="project" matTooltipClass="sb-mat-tooltip"
          matTooltip="{{ 'Contacts' | translate }}" #tooltip="matTooltip" matTooltipPosition='right'
          matTooltipHideDelay="100"
          [class.item-active]="CONTACTS_ROUTE_IS_ACTIVE || CONTACT_EDIT_ROUTE_IS_ACTIVE || CONTACT_CONVS_ROUTE_IS_ACTIVE || CONTACTS_DEMO_ROUTE_IS_ACTIVE || CONTACTS_NO_AUTH_ROUTE_IS_ACTIVE">
          <!-- routerLink="project/{{ project._id }}/contacts" -->
          <a class="customAncor" 
          [routerLink]="PERMISSION_TO_VIEW_CONTACTS ? ['/project', project._id, 'contacts'] : null"
          (click)="handleContactsClick($event)">
            <span>
              <mat-icon svgIcon="td-address-book" class="nav-sidebar-icon"></mat-icon>
            </span>
          </a>
        </div>
      </ng-container>
    </ng-container>

    <!-- ----------------------------- -->
    <!-- APPS  moved in settings sidebar -->
    <!-- ----------------------------- -->
    <!-- <ng-container *ngIf="isVisibleAPP && USER_ROLE !== 'agent'">
        <div id="apps" *ngIf="project" routerLinkActive="active" 
          matTooltipClass="sb-mat-tooltip"
          matTooltip="{{ 'Apps' | translate }}" 
          #tooltip="matTooltip" 
          matTooltipPosition='right'
          matTooltipHideDelay="100" >
          <a class="customAncor" routerLink="project/{{ project._id }}/app-store">
            <i class="material-icons sidebar-icons">dashboard_customize</i>
          </a>
        </div>
      </ng-container> -->

    <!-- ----------------------------- -->
    <!-- ANALYTICS -->
    <!-- ----------------------------- -->
    <ng-container *ngIf="PERMISSION_TO_VIEW_ANALYTICS">
      <ng-container *ngIf="isVisibleANA">
        <div id="analytics" *ngIf="project && USER_ROLE !== 'agent'" routerLinkActive="item-active" (click)="stopScroll()"
          [class.item-active]="ANALYTICS_DEMO_ROUTE_IS_ACTIVE" matTooltipClass="sb-mat-tooltip"
          matTooltip="{{ 'Analytics.AnalyticsTITLE' | translate }}" #tooltip="matTooltip" matTooltipPosition='right'
          matTooltipHideDelay="100">
          <a class="customAncor" 
          [routerLink]="PERMISSION_TO_VIEW_ANALYTICS ? ['/project', project._id, 'analytics'] : null"
          (click)="handleAnalyticsClick($event)">
          
            <span>
              <mat-icon svgIcon="td-chart-bar" class="nav-sidebar-icon"></mat-icon>
            </span>
          </a>
        </div>
      </ng-container>
    </ng-container> 

      <!-- Maintance module -->
     <!-- <ng-container>
      <ng-container>
        <div id="analytics" *ngIf="project && USER_ROLE !== 'agent'" routerLinkActive="item-active" (click)="stopScroll()"
          matTooltipClass="sb-mat-tooltip"
          matTooltip="{{ 'Analytics.AnalyticsTITLE' | translate }}" #tooltip="matTooltip" matTooltipPosition='right'
          matTooltipHideDelay="100">
        
          <a class="customAncor" 
            routerLink="project/{{ project._id }}/maintenance">
          
            <span>
            
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="none">
                <path
                  d="M80-120v-80h800v80H80Zm40-120v-280h120v280H120Zm200 0v-480h120v480H320Zm200 0v-360h120v360H520Zm200 0v-600h120v600H720Z" />
              </svg>
            </span>
          </a>
        </div>
      </ng-container>
    </ng-container>  -->

    


    <!-- ----------------------------- -->
    <!-- ACTIVITIES -->
    <!-- ----------------------------- -->
    <ng-container *ngIf="PERMISSION_TO_VIEW_ACTVITIES">
      <ng-container *ngIf="isVisibleACT">
        <div id="activities" *ngIf="project && USER_ROLE !== 'agent'" routerLinkActive="item-active"
          [class.item-active]="ACTIVITIES_DEMO_ROUTE_IS_ACTIVE" (click)="stopScroll()" matTooltipClass="sb-mat-tooltip"
          matTooltip="{{ 'Activities' | translate }}" #tooltip="matTooltip" matTooltipPosition='right'
          matTooltipHideDelay="100">
          <!-- routerLink="project/{{ project._id }}/activities" -->
          <a class="customAncor" 
          [routerLink]="PERMISSION_TO_VIEW_ACTVITIES ? ['/project', project._id, 'activities'] : null"
          (click)="handleActivitiesClick($event)">     
            <span>
              <mat-icon svgIcon="td-clipboard-list" class="nav-sidebar-icon"></mat-icon>
            </span>
          </a>
        </div>
      </ng-container>
    </ng-container>

    <!-- ----------------------------- -->
    <!-- REQUESTS HISTORY  routerLink="project/{{ project._id }}/history" -->
    <!-- ----------------------------- -->
     
    <ng-container *ngIf="PERMISSION_TO_VIEW_HISTORY">
      <div id="history" *ngIf="project" routerLinkActive="item-active" (click)="stopScroll()"
        matTooltipClass="sb-mat-tooltip" matTooltip="{{ 'History' | translate }}" #tooltip="matTooltip"
        matTooltipPosition='right' matTooltipHideDelay="100"
        [class.item-active]="HISTORY_NO_AUTH_ROUTE_IS_ACTIVE">
        <a class="customAncor" 
        [routerLink]="PERMISSION_TO_VIEW_HISTORY ? ['/project', project._id, 'history'] : null"
        (click)="handleHistoryClick($event)">
          <!-- <i class="material-icons sidebar-icons">history</i> -->
          <!-- <i class="material-symbols-outlined sidebar-icons">
            history
          </i> -->
          <span>
            <mat-icon svgIcon="td-history" class="nav-sidebar-icon"></mat-icon>
          </span>
        </a>
      </div>
    </ng-container> 

    <!-- AUTOMATIONS_ROUTE_IS_ACTIVE || -->
    <ng-container *ngIf="PERMISSION_TO_VIEW_SETTING">
      <div id="settings" *ngIf="project && USER_ROLE !== 'agent'" [class.item-active]=" 
          TRIGGER_ROUTE_IS_ACTIVE || 
          TAG_ROUTE_IS_ACTIVE || 
          CANNED_RESPONSES_ROUTE_IS_ACTIVE || 
          DEPTS_ROUTE_IS_ACTIVE || 
          TEAMMATES_ROUTE_IS_ACTIVE || 
          GROUPS_ROUTE_IS_ACTIVE || 
          ROLES_ROUTE_IS_ACTIVE || 
          EDIT_ROLE_ROUTE_IS_ACTIVE ||
          ADD_ROLE_ROUTE_IS_ACTIVE ||
          WIDGET_SETUP_ROUTE_IS_ACTIVE ||
          PROJECT_SETTINGS_ROUTE_IS_ACTIVE ||
          OPERATING_HOURS_ROUTE_IS_ACTIVE ||
          ENTERPRISE_NOTIFICATION_EMAIL_ROUTE_IS_ACTIVE ||
          ENTERPRISE_SMTP_SETTINGS_ROUTE_IS_ACTIVE ||
          PRJCT_SETTINGS_WEBHOOK_ROUTE_IS_ACTIVE || 
          PRJCT_SETTINGS_PAYMENTS_ROUTE_IS_ACTIVE ||
          INVITE_TEAMMATE_ROUTE_IS_ACTIVE ||
          EDIT_PROJECT_USER_ROUTE_IS_ACTIVE ||
          EDIT_DEPT_ROUTE_IS_ACTIVE ||
          CREATE_GROUP_ROUTE_IS_ACTIVE ||
          EDIT_GROUP_ROUTE_IS_ACTIVE ||
          INSTALLATION_ROUTE_IS_ACTIVE ||
          EMAIL_TICKETING_ROUTE_IS_ACTIVE ||
          OLD_KB_ROUTE_IS_ACTIVE ||
          APPS_ROUTE_IS_ACTIVE ||
          INTEGRATIONS_ROUTE_IS_ACTIVE ||
          TRANSLATIONS_ROUTE_IS_ACTIVE" (click)="goToWidgetSetUpOrToCannedResponses()" matTooltipClass="sb-mat-tooltip"
        matTooltip="{{ 'Settings' | translate }}" #tooltip="matTooltip" matTooltipPosition='right'
        matTooltipHideDelay="100">

        <a class="customAncor">
          <!-- <i class="material-icons sidebar-icons">settings</i> -->
          <!-- <i class="material-symbols-outlined sidebar-icons">
            settings
          </i> -->
          <span>
            <mat-icon svgIcon="td-settings" class="nav-sidebar-icon"></mat-icon>
          </span>
        </a>
      </div>
    </ng-container>

    <!-- Admin Panel -->
    <div *ngIf="isSuperAdmin" matTooltip="Admin" #tooltip="matTooltip" matTooltipPosition='right'
      class="sidebar-item-container" routerLinkActive="item-active">
      <a routerLink="/admin" routerLinkActive="item-active">
        <mat-icon svgIcon="td-shield-cog" class="nav-sidebar-icon sidebar-item-icon"></mat-icon>
      </a>
    </div>

    <div class="sidebar-separator">
      <!-- <i class="material-symbols-outlined sidebar-icons">
        check_indeterminate_small
      </i> -->
      <svg xmlns="http://www.w3.org/2000/svg" height="20px" width="20px" viewBox="0 -960 960 960" fill="none">
        <path d="M240-440v-80h480v80H240Z" />
      </svg>
    </div>

    <!-- ---------------------------------------- -->
    <!-- @ Support   matTooltip="{{companyName}}" -->
    <!-- ---------------------------------------- -->
    <div class="sb-last-item" [class.item-active]="SUPPORT_ROUTE_IS_ACTIVE" id="support"
      matTooltipClass="sb-mat-tooltip"
      [matTooltip]="isVisibleSupportMenu ? ( 'HelpCenter' | translate ) : (companyName + ' - ver. ' + version)" #tooltip="matTooltip"
      matTooltipPosition='right' matTooltipHideDelay="100" routerLinkActive="active" (click)="stopScroll()">

      <a id="support-anchor" *ngIf="isVisibleSupportMenu" class="customAncor" [matMenuTriggerFor]="menuSupport"
        style="cursor: pointer;">
        <span>
          <mat-icon svgIcon="td-lifebuoy" class="nav-sidebar-icon"></mat-icon>
        </span>
        <!-- <i class="material-symbols-outlined sidebar-icons">
          support
        </i> -->
      </a>
      <!-- margin-bottom: 5px; margin-left: 2px;-->
      <a *ngIf="!isVisibleSupportMenu" class="customAncor" [href]="companySiteUrl" target="_blank">
        <img [src]="companyLogoNoText" class="img-fluid" style="width: 24px; height: auto;  margin-right: 2px;" />
      </a>
    </div>
  </div>

</div>


<!-- SIDEBAR MENU OPTIONS-->
<mat-menu #menuSupport="matMenu" class="menuElementSupport" xPosition="before">
  <ng-template matMenuContent>

    <!-- {{ INFO_MENU_ITEMS | json}} -->
    <ng-container *ngFor="let item of INFO_MENU_ITEMS">
      <button *ngIf="item.status === 'active'" mat-menu-item (click)="onMenuOptionFN(item)">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.label | translate}} </span>
      </button>
    </ng-container>
    <div class="mat-menu-footer">
      &copy; {{test | date: 'yyyy'}} {{companyName}} ver {{version}}
    </div>
  </ng-template>
</mat-menu>


<!-- MODAL - LOGOUT WINDOWS -->
<div class="modal sb-logout-modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayLogoutModal}"
  style="background-color: rgba(90,90,90,0.5);">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">
          <!-- tiledesk Log Out -->
          {{ 'NavBar.TiledeskLogOut' | translate: tparams }}
        </h4>
      </div>

      <div class="modal-body">
        <p style="margin-top: 0px; text-align:center; color:#566787; font-size:16px; font-weight:400 ">
          <!-- Are you sure you want to log out? -->
          {{ "NavBar.AreYouSureYouWantToLogOut" | translate }}
        </p>
        <p *ngIf="project &&  IS_AVAILABLE === true" style="margin-bottom:0px; text-align:center;">
          <i class="material-icons" style="display: block; color:#f44336">warning</i>
          <span *ngIf="project" style="color:#f44336">
            {{ "NavBar.AttentionIfYouDoNotWantToReceiveRequests" | translate }} </span>
        </p>

        <p *ngIf="!project &&  availabilityCount > 0" style="margin-bottom:0px; text-align:center;">
          <span style="color:#f44336"> {{ "NavBar.AttentionYouAreAvailable" | translate }}
            {{availabilityCount}}
            <span *ngIf="availabilityCount === 1">{{ "NavBar.Project" | translate }}.</span>
            <span *ngIf="availabilityCount > 1">{{ "NavBar.Projects" | translate }}.</span>
            {{ "NavBar.IfYouDoNotWantToReceiveRequests" | translate }}
          </span>
        </p>
      </div>

      <div class="modal-footer" style="text-align: center;">
        <button class="btn btn-white" (click)="onCloseLogoutModalHandled()" style="padding:12px 16px; font-size:12px ">
          {{ "Cancel" | translate}}
        </button>
        <button class="btn btn-primary" (click)="onLogoutModalHandled()" style="padding:12px 16px; font-size:12px ">
          <!-- Log Out -->
          {{ 'NavBar.LogOut' | translate }}
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
